body{
top: 0px;
left: 0px;
width: 1366px;
height: 849px;
background: #3D087B 0% 0% no-repeat padding-box;

}
.i1{
position: relative;
top: 34px;
left: 124px;
width: 204px;
height: 77px;
 }
 .i2{
position: absolute;
top: 42px;
left: 706px;
width: 536px;
height: 130px; 
border: 1px solid #EDEDED;
border-radius: 10px; 
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
display: flex;
justify-content: space-around;
 }

.p1{
    position: relative;
    top: 17px;
font: normal normal 800 30px/42px Manrope;
color: #3D087B;
 }
.p2{
    text-align: center;
    font-size: 25px;
    color: #8A11BF;
    background-image: url(./images/i1.png);
    width: 82px;
    height: 90px;



 }
 .d{
     position: relative;
     top: 30px;
     padding: 0;
 }
.p3{
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;  
    background-image: url(./images/i2.png);
    width: 82px;
    height: 90px;

}
.i3{
    position:absolute;
    top: 149px;
    left: 124px;
    width: 566px;
    height: 363px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px; 
}
.b{
    width: 517px;
    height: 335px;
    display: inline-block;
}
.b1{
    display: flex;

}
.pp{

}



.i4{
    position: absolute;
    top: 527px;
    left: 124px;
    width: 566px;
    height: 77px; 
    background:#6b2db3  0% 0% no-repeat padding-box;
border-radius: 10px;
}
.pp1{
    padding-left: 30px;
width: 381px;
height: 34px;
font: normal normal 900 27px/34px Bauhaus Hv BT;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
}
.i5{
    position: absolute;
    top: 624px;
left: 124px;
width: 299px;
height: 50px;
padding-top: 20px;
text-align: center;
font-size: x-large;
color: #EDEDED;
background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
}
.i6{
    position: absolute;
    top: 625px;
    left: 449px;
    width: 200px;
    height: 94px;
    background:#6b2db3  0% 0% no-repeat padding-box;
    color: #F25CFE;
    padding: 10px;

}
